.main-panel
{
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.main-panel a
{
  margin: 50px;
  font-size: 30px;
  background-color: aliceblue;
}

.welcome-txt
{
  display: flex;
  position: fixed;
  top: 30%;
  left: 50%;

  transform: translate(-50%, -30%);
}

.table
{
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

.table img
{
  width: 300px;
  height: 200px;
}

.controls
{
  padding-bottom: 10px;
}


form
{
  display: flex;
  flex-direction: column;
  align-self: center;
}

input
{
  margin-top: 10px;
}
