# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\mamp\htdocs\team14project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
